<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/stylesheets/common.css" />
  <style>
  .container .inner { width:940px; }
  .title { position:relative; }
  .title h2 { font-size:20px; font-weight:normal; border-bottom:1px solid #efefef; margin-bottom:15px; }
  .title .action { position:absolute; right:0; top:5px; }
  .container { width:600px; }
  </style>
</head>
<body>
  <!--导航-->
  <div class="navbar">
    <div class="navbar-inner container">
      <a class="brand" href="#">网信平台</a>
      <ul class="nav">
        <li class="active"><a href="#">首页</a></li>
        <li><a href="#">网信管理</a></li>
        <li><a href="#">模板</a></li>
        <li><a href="#">联系人</a></li>
        <li><a href="#">管理员</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <form class="form-inline">
      <legend>登入</legend>
      <input type="text" class="input-middle" placeholder="用户名">
      <input type="password" class="input-middle" placeholder="密码">
      <button type="submit" class="btn btn-primary">登入</button>
      <button id="reset" type="reset" class="btn">取消</button>
    </form>
  </div>
</body>
</html>
