<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  
  	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath:resource/db.spring.xml,
            classpath:resource/service.spring.xml
        </param-value>
	</context-param>
  
 <listener>  
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
</listener>  

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>net.yp.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserGroupServlet</servlet-name>
    <servlet-class>net.yp.web.servlet.UserGroupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserMsgServlet</servlet-name>
    <servlet-class>net.yp.web.servlet.UserMsgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginUserServlet</servlet-name>
    <servlet-class>net.yp.web.servlet.LoginUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileUpLoadServlet</servlet-name>
    <servlet-class>net.yp.web.servlet.FileUpLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownloadTemplate</servlet-name>
    <servlet-class>net.yp.web.servlet.DownloadTemplate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserGroupRelServlet</servlet-name>
    <servlet-class>net.yp.web.servlet.UserGroupRelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QuestionBankServlet</servlet-name>
    <servlet-class>net.yp.web.servlet.QuestionBankServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmsTemplateServlet</servlet-name>
    <servlet-class>net.yp.web.servlet.EmsTemplateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmsMsgServlet</servlet-name>
    <servlet-class>net.yp.web.servlet.EmsMsgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmsSendServlet</servlet-name>
    <servlet-class>net.yp.web.servlet.EmsSendServlet</servlet-class>
  </servlet>







<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>WEB-INF/log4j.xml</param-value>
    </context-param>
 <listener>
  <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
 </listener>



  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserGroupServlet</servlet-name>
    <url-pattern>/UserGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserMsgServlet</servlet-name>
    <url-pattern>/UserMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginUserServlet</servlet-name>
    <url-pattern>/LoginUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUpLoadServlet</servlet-name>
    <url-pattern>/FileUpLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadTemplate</servlet-name>
    <url-pattern>/DownloadTemplate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserGroupRelServlet</servlet-name>
    <url-pattern>/UserGroupRelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionBankServlet</servlet-name>
    <url-pattern>/QuestionBankServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmsTemplateServlet</servlet-name>
    <url-pattern>/EmsTemplateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmsMsgServlet</servlet-name>
    <url-pattern>/EmsMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmsSendServlet</servlet-name>
    <url-pattern>/EmsSendServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
